@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --background: #edf0f3;
  --tool-card-background: #ffffff;
  --tool-card-forground: black;
  --tool-card-border: #e7e8ec;
  --nav-item-selected: #e4e4e6;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}
[data-theme='dark'] {
  --background: #1a1e21;
  --tool-card-background: #28292d;
  --tool-card-forground: #f1f1f3;
  --tool-card-border: #28292d;
  --nav-item-selected: #4d4e52;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

html {
  height: 100%;
}

.App {
  background-color: var(--background);
}

body {
  /* background-color: #f7f8fa; */
  background-color: var(--background)!important;
  margin: 0;
  top: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.info-link{
  text-decoration: none;
  color: black;
  margin-bottom: 4px;
  font-size: 15px;
}

.sidebar {
  height: 100%;
  width: 230px;
  background-color: var(--tool-card-background) !important;
  position: fixed;
  z-index: 1;
  overflow: auto;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  color: white!important;
  display: block;
  margin-top: 0px;
  top: 0;
}

.nav-item {
  overflow: hidden;
  padding-left: 10px!important;
  color: rgb(106, 106, 106);
  background-color: inherit;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.nav-toolbar {
  background-color: var(--tool-card-background) !important;
  user-select: none;
}

.nav-header {
  padding-left: 16px !important;
  background-color: var(--tool-card-background) !important;
  user-select: none;
}

.settings-button {
  right: 5px !important;
  position: absolute !important;
  color: var(--tool-card-forground) !important;
}

.nav-item:hover {
  background-color: #ccc;
  color: black;
}

.nav-item-selected {
  /* background-color: #f7f8fa; */
  background-color: var(--nav-item-selected);
  color: var(--tool-card-forground);
}

.sidebar h4 {
  padding: 1px 1px;
  margin-bottom: 10px;
  color: black;
}

.nav-item p {
  margin: 0;
}

.content {
  background-color: var(--background);
  margin-top: 0;
  margin-left: 230px;
  position: absolute;
  top: 0;
  width: calc(100% - 230px);
  /* max-width: 1200px; */
}

.inline {
  display: inline-block!important;
}

button {
  background-color: #e4e4e6;
  color: black;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  font-size: 15px;
}

button:hover {
  background-color: #ccc;
}

.browse-button {
  width: 150px;
  margin-right: 10px!important;
}

.healthy-margin-right {
  margin-right: 10px!important;
}

.healthy-margin-top {
  margin-top: 10px!important;
}

.healthy-margin-bottom {
  margin-bottom: 10px!important;
}

.healthy-margin-left {
  margin-left: 10px!important;
}

.mega-margin-right {
  margin-right: 20px!important;
}

.mega-margin-top {
  margin-top: 20px!important;
}

.mega-margin-bottom {
  margin-bottom: 20px!important;
}

.mega-margin-left {
  margin-left: 20px!important;
}

.link-icon {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  display: inline;
}

.dropdown-click {
  display: inline;
  margin-right: 10px;
  position:relative;
  display:inline-block;
  cursor:pointer;
}

.dropdown-content {
  cursor: auto;
  color: #000;
  /* background-color:#fff; */
  background-color: #f1f1f1;
  display: none;
  position: absolute;
  min-width: 200px;
  max-width: 460px;
  max-height: 450px;
  overflow-y: auto;
  margin: 0;
  padding-bottom: 10px;
  z-index: 100;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.w3-show {
  display: block;
}

.w3-input{
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  width:100%;
  height: 40px;
}

.w3-padding {
  padding:8px 16px!important
}

.w3-check {
  width:24px;
  height:24px;
  position:relative;
  top:6px;
  display: inline;
}

.filter-item {
  padding-left: 5px;
  padding-bottom: 10px;
}

.filter-item:hover {
  background-color: #ccc;
}

.filter-item p {
  display: inline;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  padding-left: 5px;
  width: calc(100% - 30px);
}

.resources {
  margin: 20px 0;
}

.input-field {
  height: 25px;
  margin-right: 20px;
}

.message-info {
  font-size: 1.1em;
  color: black;
}

.message-error {
  font-size: 1.1em;
  color: red;
}

.message-success {
  font-size: 1.1em;
  color: green;
}

.header {
  background-color: var(--tool-card-background);
  color: var(--tool-card-forground);
  width: 100%;
  margin-top: 0;
  box-sizing: border-box;
  border-radius: 0!important;
}

.header h1 {
  margin: 0;
  padding-top: 30px;
  padding-left: 30px;
}

.header p {
  padding-left: 30px;
  padding-bottom: 20px;
  display: inline-block;
}

.header-body {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: inline-block;
}

.header-body .resources {
  margin-top: 0;
  margin-bottom: 0;
}

.tool-card {
  color: var(--tool-card-forground);
  background-color: var(--tool-card-background);
  box-sizing: border-box;
  border-radius: 7px;
  padding: 10px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  border: 2px solid var(--tool-card-border);
  /* box-shadow:  20px 20px 19px #e4e4e4, */
             /* -20px -20px 19px #f2f2f2; */
}

.radio-group {
  padding-bottom: 10px;
}

.radio-group p {
  padding-bottom: 0;
  margin: 0;
  display: inline;
}

.radio {
  display: inline-block;
  padding-left: 15px;
}

.file-select {
  /* margin-top: 15px; */
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.data-table {
  padding-top: 10px;
  width: 99%;
  overflow-x: auto;
}

progress {
  display: block;
  width: 100%;
  height: 1.4em;
  margin-bottom: 10px;
}

progress::-webkit-progress-bar {
  background: #ccc;
}

progress::-webkit-progress-value {
  background: gray;
}

.main-content {
  display: block;
  margin-top: 10px;
}

.vertical-middle {
  vertical-align: middle!important;
}

.messages-area {
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.simple-select {
  margin-right: 30px;
}

.schedule-builder {
  width: 800px!important;
  height: 500px;
  box-sizing: border-box;
  padding: 10px;
}

.schedule-builder-item {
  display: block;
  padding: 10px;
}

.schedule-builder-toggle-box {
  width: 200px;
  display: inline-block;
}

html, body {
  height: 100%;
}

.loading-container {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.feedback-form {
  width: 600px;
  height: 310px;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
}

.home-container {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-container-input {
  width: 50%
}


.tool-list {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.tool-preview {
  width: 350px;
  height: 140px;
  border-radius: 7px;
  border: 1px solid;
  display: inline-block;
  padding: 20px;
  margin: 20px;
  background-color: var(--tool-card-background);
  color: var(--tool-card-forground);
  box-sizing: border-box;
}

.tool-preview:hover {
  cursor: pointer;
  background-color: gray;
}